* {
  padding: 0;
  margin: 0 auto; 
 
}
html {
  font-size: 12px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav li {
  color: white;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}
.navbar_header_menu_list {
  display: inline;
  margin: 0;
  padding: 0;
}
.heading {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar_header_menu_list_iteam {
  display: inline-block;
  font-size: 12px;
}
h1 {
  font-size: 30px;
}
ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background:#f44336 ;
  display: block;
  margin: auto;
  transition: 0.5s;
}
ul li:hover::after{
  width: 100%;
}
ul li:hover ul {
  display: block;
}
.dropdown_iteam {
  position: absolute;
  width: 100px;
  display: none;
}
.navbar_header {
  background-color: hotpink;
}
.input_tk{
  padding: 20px;
  box-sizing: border-box;
}
.iteam {
  background: pink;
  display: block;
}
a {
  text-decoration: none;
}
.link_iteam {
  display: block !important;
  font-size: 10px;
}
.iteam:hover {
  background: pink;
}
.navbar_header_menu_list_right {
  display: inline;
  margin-left: 10%;
}
.navber_header input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
}
.navbar_header_menu_list_iteam input[type="text"] {
  height: 30px;
}
button {
  width: 40px;
}
.body {
  margin-top: 200px;
}
form {
  width: 500px;
  margin: 0 auto;
}

.title_dangnhap {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.tk {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#id_user {
  width: 500px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}
.mk {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#password_user {
  width: 500px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}
.submit_dn {
  background-color: hotpink;
  color: aliceblue;
  width: 120px;
  padding: 12px;
}
a :hover {
  background: aliceblue;
  color: #333;
}
.footer {
  display: flex;
  font-size: 15px;
  margin-top: 20px;
}
.left_footer {
  display: block;
}
.title_list {
  list-style: none;
  font-weight: bold;
}
.list_iteam_footer {
  list-style: none;
  font-weight: normal;
  margin-top: 10px;
}
.slide_footer_body {
  margin-top: 100px;
}
.list_footer {
  margin-top: 5px;
}
.slide_content_body {
  display: inline-block;
  margin-left: 20px;
  font-size: 50px;
  font-family: "Londrina Outline", cursive;
  font-family: "Monoton", cursive;
}
.quenmk{
  margin-top: 8px;
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
}
.button_iteam{
  padding: 12px;
  width: 60px;
  margin-top: 20px;
}